
 body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
        min-width: 240px;
    font-family: Kia-sig;
    color: #000;
    letter-spacing: .01em;
    line-height: 1.5;
}
.one video {
    position: relative;
    z-index: 0;
}
.nav{
    background-color: transparent;
    border-bottom: 1px solid white;
     position: fixed;
     z-index: 1;
     top: 0;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    color: #fff;
    list-style: none;
    
}
.nav1 ul li{
display: inline;
text-align: center;
padding: 25px;

list-style: none;

}
.content{
    position: absolute;
    left: 33%;
    bottom: 5%;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
        font-family: 'Courier New', Courier, monospace;
    text-align: center;}
.content h1{
    font-size: 50px;
    margin-bottom: 0;
    

}
.content h3{
    font-size: 25px;
    margin-top: 8px;
}
.content h5{
    font-size: 18px;
    margin: 18px 0 ;
}
.content a{
    text-decoration: none;
    background-color: #fff;
    color: #000;
    text-align: center;

}
.main-container {
            display: flex;
           
            background-color: #f0f0f0;
            justify-content: space-between;
        }

        .left-box {
            flex: 1;
            background-color: #ccc;
           
        }

        .right-container {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
           
        }

        .right-sub-container {
            display: flex;
            flex: 1;
            justify-content: space-between;
            background-color: #e0e0e0;
        }

        .inner-container {
            flex: 1;
            background-color: rgb(177, 131, 131);
            border: 1px solid #333;
            text-align: center;
            align-content: center;
        }

    .footer{
        display: flex;
        
        justify-content: space-between;
        flex-direction: column;
             background-color: #05141f;
    color: #fff;
    
   padding: 30px;
}
    
    .footer2{
        display: flex;
        align-items: start;
        justify-content: space-between;

    }
   
    .footer2 li{
list-style: none;
    }
    .sub1 {
        font-size: 20px;
        display: flex;
        align-items: start;
        justify-content: space-between;
        flex-direction: column;
    }
    .sub1 i{
        padding: 5px;
    }
    .sub2 li{
   color: rgba(255, 255, 255, 0.6);
    }
   .footer3 div{
    display: flex;
    justify-content: space-between;
   }
   